body {
  font-family: monospace;
}

a {
  text-decoration: none;
}

td, th, .new_feed {
  padding: 0 25px;
}

.delete {
  color: red;
  display: none;
}

.faded {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
