%html
  %head
    %title Freed

  %body{ style: 'font-family:monospace' }

    %p
      %form{ action: '/feed', method: :post }
        %input{ type: 'text', name: 'feed_url', placeholder: 'Feed Url', size: 50 }
        %input{ type: 'text', name: 'notify_email', placeholder: 'Your Email', size: 50 }
        %select{ name: 'frequency' }
          %option{ disabled: true, selected: true } Frequency
          %option{ value: 1} &nbsp;&nbsp;1 minute
          %option{ value: 2} &nbsp;&nbsp;2 minutes
          %option{ value: 5 } &nbsp;&nbsp;5 minutes
          %option{ value: 10} &nbsp;&nbsp;10 minutes
          %option{ value: 30} &nbsp;&nbsp;30 minutes
          %option{ value: 60} &nbsp;&nbsp;1 hour
          %option{ value: 1440} &nbsp;&nbsp;24 hours
        %input{ type: 'submit' }

    %p
      Existing Freed:
