%form{action: '/login', method: 'post'}
  %p
    Email Address:
    %input{type: 'text', name: 'user[email_address]'}
  %p
    Password:
    %input{type: 'text', name: 'user[password]'}
  %input{type: 'submit', value: 'Log In'}
